<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="userMacSet">
          <set>
            <option value="8" />
            <option value="88-E9-FE-65-25-58" />
          </set>
        </option>
      </Profile>
    </option>
  </component>
</application>